.quote-container{
    background-color: #AA7C60;
    margin: 70px 100px 0px 100px;
}

.qbtn{cursor: pointer;
border: 2px solid #fff;
display: block;
background-color: transparent;
padding: 10px 15px;
color: #fff;
font-size: 15px;
border-radius: 5px;
outline: none;
transition: background 1s, color 1s;
margin: 25px 0px 0px 280px;

}

.qbtn-hover{
    background-color: #fff;
    color: #fff;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
}

.quote{display: flex;
justify-content: center;
align-items: center;
flex-direction: column;}

.quote h2{
    font-size: 20px;
}

